<% provide(:title, 'Sign up') %>

<h1>New User</h1>

<title>Hotel Rilana | <%= yield(:title) %></title>

<%= render partial: 'form' %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
   <% end %>
   </div>
</div>

<p>Find me in app/views/users/new.html.erb</p>
