<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html>
<div class="center hero-unit">
<h1>Welcome to Hotel Rilana</h1>
<title>Hotel Rilana | <%= yield(:title) %></title>

<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<img alt="beach" src="/assets/beach.JPG" width="150" height="150" />

</html>
